# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignore indelij
.idea
bin/
app/bin/

/app/src/main/java/io/github/ClassSyncCSS/ClassSync/Html/node_modules/
